
<div class="container">
  <div class="jumbotron indexback">

    <h1 class="indexhead">Welcome to your Homemade Dictionary!</h1>
  </div>
</div>
  <ul class="links text">
    <li><a href="/words" class="open">Open your dictionary</a></li>
  </ul>
</div>
