<div class="container">
  <div class="jumbotron indexback">
    <h1>Success!</h1>
  </div>
</div>


#if ($word)
  <h3>Your Word Has Been Saved!</h3>
#elseif ($definition)
  <h3>Your Definition Has Been Saved!<h3>
#end

<ul class="links text">
  <li><a href="/words/new">Add a new word</a></li>
  <li><a href="/words">Return to Word List</a></li>
</ul>
