words.vtl (/words)

<h1>Words</h1>

#foreach($word in $words)
  <h3><a href="/words/$word.getId()">$word.getDescription()</a></h3>
#end
<a href="/words/new">Enter a new Word</a>
<a href="/words">Return to Word List</a>
