word-form.vtl (words/new)
<h1>Add a Word</h1>

<p>Add a word here:</p>

<form action="/words" method="post">
  <label for="word">Word</label>
  <input id="word" name="word" type="text">
  <button type="submit" class="btn btn.btn-info">Add Word</button>
</form>

<a href="/words">Return to Word List</a>
