word-definition-form.vtl

<h2>Add a definition to $word.getDescription() </h2>

<form action="/definitions" method="post">
  <input id="definitionId" name="definitionId" type="hidden" value="$definition.getId()">

  <div class="form-group">
    <label for="description">Make</label>
    <input id="description" name="description" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Word</button>
</form>
<a href="/words">Return to Word List</a>
