<div class="container">
  <div class="jumbotron indexback">
    <h1>Add a Word</h1>
  </div>
</div>

<h4>Add a word here:</h4>

<form action="/words" method="post">
  <label for="word">Word</label>
  <input id="word" name="word" type="text">
  <button type="submit" class="btn btn.btn-info">Add Word</button>
</form>

<a href="/words" class="links text">Return to Word List</a>
