word.vtl

<h3>$word.getDescription():</h3>

#foreach($definition in $word.getDefinitions())
  <h4>$definition.getDescription()</h4>
#end
<ul class="links">
  <li>
    <a href="/words/$word.getId()/definitions/new">Add a New Definition</a>
  </li>
  <li>
    <a href="/words">Return to Word List</a>
  </li>
</ul>
